

.green-box {
    border: 5px solid greenyellow;
    display: block;
    text-align: center;
    margin: 5px;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.red-box {
    border: 5px solid red;
    margin: 10px 20px 0 0;
    padding: 20px 200px 200px;
}

.red-box div {
    width: 300px;
}

.red-box button {
    width: 300px;
}

.blue-box {
    border: 5px solid blue;
    width: 710px;
    margin: 10px 0 0 20px;
}

.purple-box {
    border: 5px solid purple;
    margin: 10px;
}

#destination-details {
    padding: 5px 0 10px 20px;
}

.orange-box {
    border: 5px solid orange;
    margin: 10px;
    padding: 20px 200px 700px;
}